h1, h2, h3 {
            color: blue;
            border: 1px solid black;
}

ol {
    color: green;
}

.welcome {
    color: green;
}

#abc {
    color: brown;
    }

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px dashed black;
    padding: 5px;
    text-align: center;
}